apex==0.9.10dev
boto3==1.26.23
botocore==1.29.23
chumpy==0.70
ftfy==6.2.0
matplotlib==3.4.3
mock==5.1.0
numpy==1.20.3
numpy==1.22.4
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.72
Pillow==9.5.0
Pillow==10.3.0
pointnet2_ops==3.0.0
ptvsd==4.3.2
pycocotools==2.0.6
pytest==8.1.1
pytorch3d.egg==info
pytorch_pretrained_bert==0.6.2
pyvista==0.38.3
PyYAML==6.0
PyYAML==6.0.1
regex==2022.10.31
Requests==2.31.0
scikit_learn==0.24.2
scipy==1.7.1
sentencepiece==0.2.0
setuptools==68.2.2
six==1.15.0
six==1.16.0
spacy==3.7.4
tensorboardX==2.4
tensorboardX==2.6.2.2
tensorflow_gpu==2.6.0
timm==0.4.12
torch==1.10.0
torchvision==0.11.1
tqdm==4.62.3
tqdm==4.62.2
transformers==4.25.1
trimesh==3.17.1
